<div class="mt-12">
    <form method="POST" action="">
        <div class="form-group">
            <label for="Form">FORM</label>
            <input type="text" name="name" class="form-control" id="search-input"  placeholder="Enter your name">
            
            <select name="gender" class="form-control" id="gender-input">
                <option value="">---chose gender---</option>
                <option value="male">Male</option>
                <option value="female">Not female</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>